// Override of the vanilla layout{} block. Only real change: gaps 16 -> 8.

layout {
    gaps 8

    center-focused-column "never"

    background-color "transparent" // required by noctalia-shell for the wallpaper

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    struts {}
}
